# Base de Datos
asyncpg
SQLAlchemy
greenlet

# Entorno
python-dotenv

# API y validaciones
fastapi
uvicorn
pydantic

# Conectores
ccxt
websockets

# Análisis de datos y Análisis Técnico
pandas
numpy
pandas-ta


# Machine Learning
scikit-learn
joblib